/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.sidebar-wrapper.collapsed {
  left: -17%;
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
          transition: all .25s ease-out;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Chart content
 */

.axis {
	  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*
 * Widget
 */
 
.widget {
  border: solid;
  border-width: 1px;
  border-color: #D0D0D0 ;
}

.widget .top,
.widget .bottom {
  /*height: 45px;*/
  background-color: #D8D8D8;
}

.widget .info {
  height: 90px;
  background-color: #F0F0F0 ;
}

.gridster > ul {
  list-style-type: none;
}

/*
 * Custom Datatable CSS
 */

.dataTables_wrapper .dataTables_filter {
  padding-top: 0.6em;
  display: inline-block;
}

.dataTables_wrapper .dataTables_paginate {
  display: inline-block;
}

.dataTables_wrapper .dataTables_paginate {
  padding-top: 0;
}

table.dataTable {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.paginate_input {
  margin-top: 0.6em;
  width: 50px;
}

/*!
 * DataTables + Font Awesome integration
 * License: MIT - http://datatables.net/license
 */

/*
 * Sort styling
 */
table.dataTable thead th {
	position: relative;
	/* Remove the DataTables bootstrap integration styling */
	background-image: none !important; 
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
	position: absolute;
	top: 12px;
	right: 8px;
	display: block;
	font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
	content: "\f0dc";
	color: #ddd;
	font-size: 0.8em;
	padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
	content: "\f106";
}
table.dataTable thead th.sorting_desc:after {
	content: "\f107";
}

div.dataTables_scrollBody table.dataTable thead th.sorting:after,
div.dataTables_scrollBody table.dataTable thead th.sorting_asc:after,
div.dataTables_scrollBody table.dataTable thead th.sorting_desc:after {
	content: "";
}

/*
 * DataTables style pagination controls
 */
div.dataTables_paginate span.paginate_button.previous {
	position: relative;
	padding-left: 24px;
	display: inline;
	padding-bottom: 1em;
}

div.dataTables_paginate span.paginate_button.next {
	position: relative;
	padding-right: 24px;
	display: inline;
	padding-bottom: 1em;
}

div.dataTables_paginate span.previous:before {
	position: absolute;
	top: 8px;
	left: 10px;
	display: block;
	font-family: FontAwesome;
}

div.dataTables_paginate span.next:after {
	position: absolute;
	top: 8px;
	right: 10px;
	display: block;
	font-family: FontAwesome;
}

div.dataTables_paginate span.previous:before {
	content: "\f104";
}

div.dataTables_paginate span.next:after {
	content: "\f105";
}

#g-search-button {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  left: -22px;
  top: 3px;
  background: url('/img/search_icon.png');
}



.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


/* Custom dropdown */
.group1 div.dropdown {
  float: left;
}